*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* cuerpo de la página */
body{
    font-family: Arial, sans-serif;
    background-color: #E8F5FD;
    color: #062F45;

   /*fondo de la página*/
   background-image: url("../img/fondo.png");
   background-repeat: repeat;
   background-size: auto;
   background-attachment: fixed;
   }
   h1,h2{font-family: "arvo", serif;}
   


/*contenedor general*/
.pagina{
    max-width: 75rem;
    width: 95%;
    min-height: 100vh;
    margin: 1.5rem auto;
    background-color:#E8F5FD;
}
/* Titulo principal */
header h1{
    text-align: center;
    padding: 1rem;
    font-size: 3.5rem;
    margin: 1rem;
    color: #062F45;
}
/*subtitulo*/
.subtitulo{
    text-align: center;
    font-size: 1.1rem;
    color: #09496C;
    margin-top: -10px;
    margin-bottom: 1.5rem;
    letter-spacing: 0.05rem;
}
/*menu*/
nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
    background-color: #3FB1EE;
    padding: 1rem 2rem;
    width: 100%;
    margin: 1.5rem 0;
}
nav a{
    text-decoration: none;
    color:  #E8F5FD;
    font-size: 1.1rem;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid transparent;
}
/* Efecto hover para los enlaces del menú */
nav a:hover{
    border-bottom: 2px solid #062F45;
}
/* =========================
   INDEX
========================= */
.contenedor{
    width: 100%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 2rem;
}
/*imagen*/
.imagen img{
    width: 600px;
    height: 650px;
    object-fit: cover;
}
/*texto*/
.texto{
    max-width: 650px;
}   
.texto h2{
    font-size: 32px;
    margin-bottom: 40px;
    color: #1183C0;
}
/*parrafo*/
.texto p{
    letter-spacing: 0.5px;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #09496C;
}
/*frase*/
.frase{
    text-align: center;
    width: 100%;
    margin: 100px auto 60px auto;
    padding: 0 40px;
    color: #0D6696;
}
.frase blockquote{
    font-size: 25px;
    line-height: 1.6;
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
}
.frase p{
    font-size: 18px;
    letter-spacing: 2px;
    color: #1183C0;
}
/*video de youtube*/
.video h2{
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
    color: #1183C0;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
}
.video iframe{
    width: 60%;
    height: 500px;
    border: 3px solid #93D3F6;
    border-radius: 10px;
}
/*footer*/
footer{
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
}
/* =========================
   GALERIA
========================= */
.contenedor-galeria{
    width: 100%;
    margin: 60px auto;
    padding: 0 40px;
}
/*galeria contenedor*/
.galeria{
    width: 100%;
    margin-bottom: 100px;
}
.galeria h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #1183C0;
}
/*galeria imagenes*/
.imagenes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.imagenes img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}
/* =========================
   EXHIBICIONES
========================= */
.exhibiciones{
    width: 100%;
}
.exhibiciones h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: #1183C0;
}
/*exhibiciones contenedor*/
.expo-imagenes{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
/*exhibiciones imagenes*/
.expo-imagenes img{
    width: 80%;
    height: 500px;
    object-fit: cover;
    display: block;
}
/*texto*/
.texto-expo{
    max-width: 900px;
    margin: 60px auto 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
}
/* =========================
   TRAYECTORIA
========================= */
.trayectoria{
    width: 100%;
   padding: 40px;
}
/*bloque trayectoria*/
.bloque-trayectoria{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}
/*imagenes*/
.trayectoria-imagen{
    width: 50%;
}
.trayectoria-imagen img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}
/*texto*/
.trayectoria-texto{
    width: 50%;
}
.trayectoria-texto h2{
    font-size: 38px;
    margin-bottom: 30px;
    text-align: center;
    color: #1183C0;
}
.trayectoria-texto p{
    letter-spacing: 0.5px;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #09496C;
}
.obras-conceptos{
    text-align: center;
    margin-top: 100px;
    padding: 40px;
}
.obras-conceptos h2{
    font-size: 35px;
    color: #1183C0;
    margin-bottom: 30px;
}
.obras-conceptos ul{
    list-style: none;
    padding: 0;
}
.obras-conceptos li{
    font-size: 20px;
    margin-bottom: 15px;
    color: #062F45;
}
/* =========================
   CONTACTO
========================= */
.contacto{
    width: 100%;
    padding: 80px 40px;
}
.contacto.contenedor{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
/*titulo contacto*/
.contacto-contenedor h2{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 60px;
    color: #1183C0;
}
/*texto contacto*/
.texto-contacto{
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 40px;
}
.contacto-lista{
    list-style: none;
    text-align: center;
}
.contacto-lista li{
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}
.contacto-lista a{
    text-decoration: none;
    color: #09496C;
}
.contacto-lista a:hover{
    color:#1183C0;
    text-decoration: underline;
}
.imagen-contacto{
    display: block;
    width: 450px;
    max-width: 90%;
    margin: 30px auto 40px auto;
}
/* =========================
   media queries
========================= */
@media (max-width: 1000px){
    .contenedor{
        flex-direction: column;
        text-align: center;
    }
    .imagen img{
        width: 100%;
        height: auto;
    }
    .texto h2{
        font-size: 35px;
    }
    .texto p{
        font-size: 18px;
    }
    .video iframe{
        width: 80%;
        height: auto;
    }
}